html {
  font-size: 16px;
}

body {
  background-color: #1F2833;
}

.directory {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-family: Garamond, "Times New Roman", serif;
  margin: 1rem;
  padding: 1rem;
  background-color: #0B0C10;
  transition: 1s;
  text-align: right;
}

.directory h3 {
  margin: 1rem;
  border: 3px solid #66FCF1;
  background-color: #0B0C10;
  transition: 1s;
  display: inline-block;
  padding: 1rem;
}

.directory h3:hover {
  transform: scale(1.3);
  background-color: #232427;
}

.introduction {
  background-color: #0B0C10;
  background-clip: border-box;
  background-size: cover;
  height: auto; 
  width: auto;
  position: relative;
  font-family: Garamond, "Times New Roman", serif;
}

.name {
  padding: 6rem 7rem 5rem 7rem;
  height: 25rem;
}

.name h3 {
  padding-top: 5rem;
  text-align:left;
  color: #66FCF1;
}

.name h1 {
  font-size: 8rem;
  font-family: Garamond, "Times New Roman", serif;
  color: #66FCF1;
}

.about_me {
  margin-top: 3rem;
  border: 0;
}

.long_name h1 {
  font-size: 6rem;
  padding-bottom: 5rem;
}
.about_me h1 {
  text-align: center;
  font-size: 3rem;
  font-family: Garamond, "Times New Roman", serif;
  color: #66FCF1;
  background-color: #0B0C10;
  padding: 4rem;
}



.about_me img {
  float: right;
  height: 90%;
  width: auto;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.about_me_description {
  font-size: 1.2rem;
  margin-left: 1rem;
  display: static;
  font-family: Garamond, "Times New Roman", serif;
  color: #66FCF1;
  padding-bottom: 2rem;
}


/* Projects Page */

.project_info {
  width: 100%;
}

.project_1 {
  margin-top: 4rem;
  font-size: 1.75em;
  margin-left: 1rem;
  display: static;
  font-family: Garamond, "Times New Roman", serif;
  color: #66FCF1;
  margin-bottom: 7rem;
}


.project_1_description {
  width: 47%;
  display: static;
  color: #66FCF1;
  font-size: 2rem;
  padding:0.8rem;
}

.project_1_description p {
  font-size: 0.66em;
}


.project_2_description {
  width: 47%;
  display: static;
  color: #66FCF1;
  font-size: 2rem;
  padding: 1rem;
  padding-right: 1.5rem;
}

.project_2_description p {
  font-size: 0.66em;
}
.project_1 img {
  margin-top: 2rem;
  height: auto;
  width: 40%;
  float: right;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  clear: right;
}

.project_2 img {
  padding-right:1.5rem;
  width: 600px;
  height:400px;

} 

.repl {
  height: auto;
  width: 40%;
  float: right;
  clear: right;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Resume & Contact Page */
.resume {
  text-align: center;
  font-size: 2rem;
  color: #66FCF1;

}

.resume iframe {
  padding-top: 2rem;
  padding-bottom: 100px; 
}

.contact {
  color: #66FCF1;
  padding-bottom: 100px;
}



/* Containers */

.container .box {
  justify-content: center;
  width: 21rem;
  padding: 2.5rem;
  position:relative; 
}

.container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.container .box {
  position: relative;
  width: 21rem;
  padding: 100px 40px 60px;
  background: #1F2833;
  box-shadow: 0 15px 45px rgba(0,0,0.1);
}
.container .box:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transform: scaleY(0);
 transform-origin: top;
 transition: transform 0.5s;
 background: #0B0C10;
}

.container .box:hover:before {
 transform: scaleY(1);
 transform-origin: bottom;
 transition: transform 0.5s;
}

.container .box h2 {
  position: absolute;
  left: 40px;
  top: 60px;
  font-size: 4em;
  font-weight: 800;
  z-index:1;
  opacity: 0.5;
  transition: 0.5s;
  color: transparent;

}

.container .box:hover h2 {
  opacity: 1;
  color: #45A29E;
  transform: translateY(-7rem);
}

.container .box h3 {
  position: relative;
  font-size: 1.5em;
  z-index: 2;
  color: #66FCF1;
  transition: 0.5s;
  font-weight: bold;
}

.container .box:hover h3 {
  color: #45A29E;
}

.container .box p {
  position: relative;
  z-index: 2;
  color: #66FCF1;
  transition: 0.5s;
}

.container .box:hover p {
  color: #45A29E;
}

.container a {
  color: #66FCF1 ;
}

.container .box:hover a {
  color: #45A29E;
}

.divided {
  display: flex;
  align-items: center;
}

.divider {
  flex-grow: 1;
  border-bottom: 3px solid #66FCF1;
  margin: 5px
}

/* Media Queries */
@media (min-width: 0px) and (max-width: 575px) {
  html {
    font-size: 9px;
  }

  .name h3 {
    visibility: hidden;
  }

  .directory h3 {
    border: 0.5px solid white;
  } 
  .about_me img {
    width: 100%;
    height: auto;
  }
  .project_1 {
    width: 90%;
  }

  .project_2 {
    width: 90%;
  }

  .project_1_description {
    width: 100%;
  }

  .project_2_description {
    width: 100%;
  }
  
  .project_1_info h6 {
    font-size: 1.5rem;
  }

  .about_me_description p {
    font-size: 1.5rem;
  }

  .project_2_description h6 {
    font-size: 1.5rem;
  }

  
  .project_1 img {
    width: 45%;
    height: auto;
    display: inline-block;
  }

  .project_2 img {
    width: 45%;
    height: auto;
    display: inline-block;
  }

  .repl {
    height: 40px;
    visibility: hidden;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 11px;
  }

  .directory h3 {
    border: 0.5px solid white;
  } 

  .about_me img {
    width: 100%;
    height: auto;
  }

  .about_me_description p {
    font-size: 1.5rem;
  }


  .project_1 {
    width: 90%;
  }

  .project_2 {
    width: 90%;
  }

  .project_1_description {
    width: 100%;
  }

  .project_1_description p {
    font-size: 1.5rem;
  }

  .project_2_description p {
    font-size: 1.5rem;
  }

  .project_2_description {
    width: 100%;
  }
  
  .project_1 {
    width: 100%;
  }

  .project_2_ {
    width: 100%;
  }
  
  .project_1 img {
    width: 45%;
    height: auto;
    display: inline-block;
  }

  .project_2 img {
    width: 45%;
    height: auto;
    display: inline-block;
  }

  .repl {
    height: 400px;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .directory h3 {
    border: 2px solid white;
  } 

  .about_me img {
    width: 100%;
    height: auto;
  }

  .about_me_description p {
    font-size: 1.5rem;
  }

  .project_1 {
    width: 90%;
  }

  .project_2 {
    width: 90%;
  }

  .project_1_description {
    width: 100%;
  }

  .project_1_description p {
    font-size: 1.5rem;
  }

  .project_2_descripion p {
    font-size: 1.5rem;
  }

  .project_2_description  {
    width: 100%;
  }
  
  .project_1 {
    width: 100%;
  }

  .project_2 {
    width: 100%;
  }
  
  .project_1 img {
    width: 45%;
    height: auto;
    display: inline-block;
  }

  .project_2 img {
    width: 45%;
    height: auto;
    display: inline-block;
  }

  iframe {
    height: 600px;
  }

}

@media (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }

  .directory h3 {
    border: 2.5px solid white;
  } 

  .about_me_description p {
    font-size: 1.5rem;
  }

  .project_1 {
    width: 90%;
  }

  .project_2 {
    width: 90%;
  }

  .project_1_description {
    width: 45%;
  }

  .project_1_description p {
    font-size: 1.5rem;
  }

  .project_2_description p {
    font-size: 1.5rem;
  }

  .project_2_description {
    width: 45%;
  }
  
  .project_1 {
    width: 45%;
  }

  .project_2 {
    width: 45%;
  }
  
  .project_1 img {
    width: 100%;
    height: auto;
  }

  .project_2 img {
    width: 100%;
    height: auto;
  }

  iframe {
    height: 900px;
  }



}